html {
  height: 100%;
}

body {
  background-color: rgb(204, 204, 204);
}
.piano {
  display: flex;
  margin: auto;
  align-items: center;
  overflow-x: auto;
}
.keys {
  display: flex;
}
.sharp {
  position: relative;
}
.sharp > .key {
  position: absolute;
}

.key {
  float: left;
  position: relative;
  border-top: 3px solid #a50d0d;
}
.white.isActive {
  background-color: #d8e0e4 !important;
}
.black.isActive {
  background-color: #fbce41 !important;
}

.white {
  height: 50vh;
  width: 3.5vw;
  z-index: 1;
  border-bottom: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  background-color: white;
  margin-bottom: 20px;
}

.black {
  height: 30vh;
  width: 1.8vw;
  z-index: 2;
  background-color: #222222;
}

.a,
.b,
.d,
.e,
.g,
.black {
  margin: 0 0 0 -1vw;
}

#keyboard > .note:last-child {
  border-right: 0.12vw solid #830404;
}

.textKey {
  position: absolute;
  bottom: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  font-weight: 900;
  color: gray;
}

.selectedNotes {
  display: flex;
  justify-content: center;
}
.selectedNotes .singleNoteSelected {
  margin-right: 15px;
}
