@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;700;900&display=swap");

$font: "Inknut Antiqua", serif;
$black: #2e383d;
$black2: #071318;
$gray: #405057;
$orange: #ff7045;
$pink: #e68c7d;
$yellow: #fbce41;

$time-notes-play: 1300;
