.dashboard {
  background-color: $black2;
  z-index: 2;
  //   background-color: white;
  min-height: 60vh;
  color: white;
  position: relative;
  padding: 50px 0;
  .list-notes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    .selectedNotes {
      display: flex;
      width: 100%;
      justify-content: center;
      // margin-top: 50px;
      .singleNoteSelected {
        margin-right: 15px;
        color: $gray;
        text-align: right;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 600;
      }
    }
    .chord-result {
      width: 100%;
      color: $yellow;
      text-transform: uppercase;
      text-align: center;
      font-size: 3rem;
      line-height: 8rem;
    }
  }
}
