.dashboard {
  background-color: $black2;
  z-index: 2;
  //   background-color: white;
  min-height: 60vh;
  color: white;
  position: relative;
  padding-top: 50px;
  .list-notes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    .selectedNotes {
      display: flex;
      width: 100%;
      justify-content: center;
      // margin-top: 50px;
      .singleNoteSelected {
        margin-right: 15px;
        color: $gray;
        text-align: right;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 600;
      }
    }
    .chord-result {
      text-align: center;
      width: 100%;
      h1 {
        color: $yellow;
        text-transform: uppercase;
        font-size: 5.5rem;
        line-height: 7rem;
        @include md {
          font-size: 4rem;
          line-height: 6rem;
        }
        @include sm {
          font-size: 2rem;
          line-height: 3.5rem;
        }
      }
    }
  }
}
