.inversions-list {
  .inversion-title {
    color: white;
    font-size: 1rem;
    margin-top: 40px;
    line-height: 0;
    opacity: 0.4;
    text-transform: capitalize;
  }
  .list {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: auto;
    @include md {
      width: 200px;
    }
    @include sm {
      width: 130px;
    }
    .inversion {
      color: $gray;
      font-size: 3rem;
      &:hover {
        cursor: pointer;
      }
    }
    .inversion-active {
      color: $yellow;
      pointer-events: none;
    }
  }
}
