.related-chords-container {
  position: relative;
  margin-top: 70px;
  background: $black;
  padding: 70px 0;
  @include md {
    padding-top: 150px;
  }
  .big-title {
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: $side-padding;
    transform: translateY(-50%);
    line-height: 6rem;
    text-transform: capitalize;
    width: 20%;
    @include md {
      font-size: 3rem;
      top: 70px;
      width: 100%;
    }
    @include sm {
      font-size: 1.8rem;
      top: 50px;
      width: 100%;
      line-height: 3rem;
    }
  }
  .related-chords {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    .related-chord {
      display: inline-block;
      margin-right: 60px;
      background-color: $black;
      min-width: 400px;
      color: white;
      border-radius: 20px;
      padding: 30px;
      box-sizing: border-box;
      border: solid 2px $yellow;
      z-index: 3;
      @include md {
        min-width: 300px;
      }
      @include sm {
        min-width: auto;
      }
      &:first-child {
        margin-left: 30vw;
      }
      h3 {
        font-size: 2rem;
        line-height: 3rem;
      }
      div > span {
        margin-right: 10px;
        font-weight: 700;
      }
      &.isActive {
        background: $yellow;
        color: $black2;
      }
    }
    &:hover {
      cursor: grab;
      // background-color: white;
    }
    &:active {
      cursor: grabbing;
    }
  }
}

.visible {
  transition: 0.7s;
  transition-delay: 0.1s;
  transform: scale(1);
}
.invisible {
  transition: 0.7s;
  transition-delay: 0.1s;
  transform: scale(0.8);
}
