.related-chords-container {
  position: relative;
  margin-top: 70px;
  .big-title {
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    line-height: 6rem;
    text-transform: capitalize;
  }
  .related-chords {
    display: flex;
    overflow-x: scroll;
    width: 90%;
    margin: auto;
    padding: 20px;
    .related-chord {
      &:first-child {
        margin-left: 40vw;
      }
      margin-right: 60px;
      background-color: $black2;
      min-width: 500px;
      color: white;
      border-radius: 20px;
      padding: 30px;
      box-sizing: border-box;
      border: solid 2px $yellow;
      background-color: $black2;
      z-index: 3;
      h3 {
        font-size: 2rem;
        line-height: 3rem;
      }
      div > span {
        margin-right: 10px;
      }
      &.isActive {
        background: $yellow;
        color: $black2;
      }
    }
    &:hover {
      cursor: grab;
      // background-color: white;
    }
    &:active {
      cursor: grabbing;
    }
  }
}
